:root {
  --font-color: #e5e0d7;
  --bg-color: #223159;
  --emph-color: #fe0052;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 18px;
  font-family: Sans;
  height: 100%;
  text-align: center;
}
.content {
  min-height: calc(100vh - 4rem);
  max-width: 60ch;
  margin: auto;
  padding: 1ch;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  font-size: 75%;
  height: 2rem;
}
h1, h2, h3, h4, h5, h6, a, .explainer { color: var(--emph-color); }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/*======================================================================
USER INPUT
======================================================================*/

button {
  background-color: var(--emph-color);
  color: var(--font-color);
  font-size: 125%;
  font-weight: bold;
  padding: 10px;
  border: 2px solid var(--emph-color);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
button:hover, button:focus {
  background-color: var(--font-color);
  color: var(--bg-color);
  border-color: var(--font-color);
}
input {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--emph-color);
  border-radius: 10px 0 0 10px;
  padding-left: 16px;
  flex-grow: 1;
  min-width: 0;
}
input:focus {
  outline: none;
  border-color: var(--font-color);
}
.searchbar {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  max-width: 100% !important;
  overflow: hidden;
}
.searchbar * {
  padding: 10px;
  flex-basis: 0;
}
.searchbar button { border-radius: 0 10px 10px 0; }
.searchbar input { font-size: 125%; }

/*======================================================================
TABLES
======================================================================*/
.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100% !important;
}

table {
  table-layout: fixed;
  overflow-x: auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0; 
}
th, td { overflow: auto; }
td {
  border: solid 1px var(--font-color);
  padding: 0.75em;
}
td:first-child { border-left-width: 2px; }
td:last-child { border-right-width: 2px; }
tr:first-child td { border-top-width: 2px; }
tr:last-child td { border-bottom-width: 2px; }
tr:first-child td:first-child {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
