# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build, test, and upload to PyPi if it works

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
    - name: Store the built package for potential upload to PyPI.
      uses: actions/upload-artifact@v5
      with:
        name: python-package-distributions
        path: dist/
        
  test:
    name: Test the built package.
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - name: Install test dependencies (and citeurl dependency pyyaml)
      run: python3 -m pip install pyyaml pytest pytest-cov pytest-github-actions-annotate-failures quickjs markdown
    - name: Test with pytest
      run: python3 -m pytest . --exitfirst --verbose --failed-first --cov=citeurl
  
  publish-to-pypi:
    name: Publish built package to PyPI
    needs: [build, test]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/citeurl
    permissions:
      id-token: write
    steps:
    - name: Download the built package
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
